@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Sacramento&display=swap');
html body{
    height: 100%;
    width: 100%;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Sacramento', cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(300deg, #179ecb, #c45566, #cb7165);
    background-size: 180% 180%;
}
.row{
    margin: 10px 0px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 20px 20px 50px #00000077,
    inset 20px 20px 50px #c107071a;
}
.button{
    margin: 0px 5px;
    border: 2px solid ;
    border-radius: 10px;
    background-color: #c1c1c1;
    cursor: pointer;
    padding: 10px;
    width: 65px;   
}
.input{
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 190px;
    background-color: #ffffff5c;  
}